body {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: hsl(208, 11%, 55%);
}

.top-background {
      margin: 0;
  background: url(images/bg-hero-mobile.svg), 
              rgb(235, 250, 253);
  background-size: 100% 111%;
  background-position: 25% 14%;
  padding-bottom: 1.5em;

}

.headings {
    font-family: 'Poppins', sans-serif;
    color: hsl(192, 100%, 9%);
}

.top-heading {
    color: hsl(192, 100%, 9%);
    font-weight: 400;
}

.trial {
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top {
    background-image: url(/images/bg-hero-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
}

.signup {
    border-radius: 25px;
    background:hsl(322, 100%, 66%);
    color: white;
}

.article .section {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.community {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 80%;
    position: relative;
    z-index: 3;
    top: 30px;
    background: white;
    border-radius: 5px;
}

.bottom {
    background: hsl(192, 100%, 9%);
    color: white;
    position: relative;
    z-index: 1;
}

ul {
    list-style-type: none;
  }


  .social-links a{
    text-align: center;
    float: left;
    width: 36px;
	height: 36px;
	border: 1px solid white;
	border-radius: 100%;
    margin-right: 10px; /*space between*/
    color: white;

} 

.social-links a i{
	font-size: 20px;
    line-height: 35px;
	
}